/*
** HTML elements
*/
body {
  color: #000;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  background:url('images/bg.png') #FFF repeat-x;
  margin:0 0 15px;
 }
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
  color:#111; 
  clear:both; 
  font-weight:lighter;
}
h1 {
  font-size: 3em; 
}
h2 {
  font-size: 2em;
}
h3, h3 a {
  font-size: 1.3em;
  line-height:1.2;
  color: #3B4A25;
  letter-spacing: 0px;
  text-decoration: none;
}
h4 {
  font-size: 1.2em;
  line-height:1.25; 
  font-weight:bold;
}
h5 {
  font-size: 1em;
  font-weight:bold;
}
h6 {
  font-size: 1em;
}
p {
  margin: 0 0 1.5em 0;
}
a {
  text-decoration: underline;
}
a:link, a:visited {
  color: #3E4967;
}
a:hover {
  color: #000;
}
blockquote {
  margin: 1.5em 0 1.5em 1.5em;
  color: #666;
  background: url('images/quote.png') .5em top no-repeat;
  padding: 0 20px 0 30px;
}
hr {
  background: #B2CCFF; 
  color: #B2CCFF;
  clear: both; 
  float: none; 
  width: 100%; 
  height: 0.1em;
  margin: 0 0 1.4em 0;
  border: none; 
}
* html hr { margin: 0 0 1.2em 0; } /* IE6 fix */
pre {
  margin-bottom: 1.3em;
  background: #eee;
  border:0.1em solid #ddd;
  padding:1.5em;
}
input {
  border: 1px solid #cccccc;
}
ul {
  list-style-type: none;
}
li.leaf, li.collapsed, li.expanded {
  list-style-image: url('images/bullet.gif');
}
li a.active{
  color: #3E4900;
}
ol {
  margin-left: 35px;
}
/*
** Page layout blocks / IDs
*/
#wrapper {
 width:820px;
 margin:0 auto;
}
#page {
background: url('images/bg.gif') right repeat-y;
}
#page2 {
background: url('images/bg2.gif') left repeat-y;
border:solid #CCC;
border-width: 0 1px 1px;
}
#main {
 margin: 0 191px 0 191px;
 float:left;
 padding: 25px 48px 20px 48px;
}
#sidebar-left, #sidebar-right {
 vertical-align: top;
 padding:25px 20px 10px;
 font-size: 0.9em;
  z-index:2;
}
.block h2 {
  font-size: 1.5em;
  line-height: 1.2;
}
#sidebar-left {
 width: 149px;
 float:left;
 margin-right:-190px;
 border-right: 1px solid #CCC;
 background: #f1f1f1;
 position:relative;	
}
#sidebar-right {
 width: 148px;
 float:right;
 margin-left:-189px;
 border-left: 1px solid #CCC;
 background: #f1f1f1;
 position:relative;
 z-index:2;
}
#header {
 height:99px;
 padding: 0 0 0 50px;
}
#header img {
  float:left;
}
#header h1{
  line-height: 1em; 
}
#header .form-submit {
  display:none;
}
.site-name a {
  color: #111111;
  font-family: Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
  text-decoration: none;
}
.site-slogan {
 line-height: 1em;
 position:relative;
 top:-20px;
}
.search-box {
  float:right;
  margin:10px 20px 0 0;
}
.search-box .form-text {
 background: url('images/search.gif') no-repeat;
 font-size: 0.9em;
 color: #cccccc;
 padding: 2px 0 2px 17px;
}
.search-box .form-text:hover {
  color:#000;
}
#primary{
  display:block;
  height:32px;
  background:#668040;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 50px;
}
#header-region {
 border-bottom: 3px solid #668040;	
}
#primary a {
  display:block;
  text-align:center;
  color:#f2ffdf;
  padding:5px 15px;
  float: left;
  text-decoration:none;
}
#primary a:hover, #primary a:active {
  text-decoration:none;
  background: #485A2D;
}
#primary ul.links li {
  padding:0;
}
#mission {
  background:#f1f1f1;
  border:1px solid #CCC;
  padding:10px;
}
.messages {
 background-color: #eee;
 border: 1px solid #ccc;
 padding: 0.3em;
 margin-bottom: 1em;
}
.error {
 border-color: red;
}
#footer {
  text-align: center;
  font-size: 0.9em;
  width:820px;
  margin:auto;
}
.title h2, .title a {
  color: #3B4A25; 
  border-bottom: 2px dotted #AAA;
  text-decoration: none;
  display:block;
  width:100%;
  margin-bottom:-17px;
}
h1.title {
  color: #3B4A25; 
  text-decoration: none;
  display:block;
  width:100%;
  margin:0;
}
.block, .box {
 padding: 0 0 1.5em 0;
}
#sidebar-left .block{}
.block {
  display:block;
}
.taxonomy, .submitted, .links-node {
  font-size: 0.8em;
  line-height: 1.875em;
  margin-bottom:15px;
  float:left;
}
.taxonomy li, .links-node li {
  border-right: 1px solid #CCC;
}
.links-node li.last {
  border:0;
}
.node .submitted {
  border-right: 1px solid #CCC;
}
.node .picture {
 border: 1px solid #ddd;
 float: right;
 margin: 0.5em;
}
.comment {
}
.comment .title a {
}
.comment .picture {
 border: 1px solid #abc;
 float: right;
 margin: 0.5em;
}
/*
** Module specific styles
*/
.feed-icon img {
  margin-top:15px;
}
#aggregator .feed-source {
 background-color: #eee;
 border: 1px solid #ccc;
 padding: 1em;
 margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
 color: #999;
 font-style: italic;
 font-size: 0.9em;
}
#aggregator .title {
 margin-bottom: 0.5em;
 font-size: 1em;
}
#aggregator h3 {
 margin-top: 1em;
}
#forum table {
 width: 100%;
}
#forum td {
 padding: 0.5em;
}
#forum td.forum a{
text-decoration:none;
}
#forum td.forum, #forum td.posts {
 background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
 background-color: #ddd;
}
#forum td.container {
 background-color: #ccc;
}
#forum td.container a {
 color: #555;
 text-decoration:none;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
 height: 1.5em;
 border: 1px solid #bbb;
}
#forum td .name {
 color: #96c;
}
#forum td .links {
 padding-top: 0.7em;
 font-size: 0.9em;
}
#profile .profile {
 clear: both;
 border: 1px solid #abc;
 padding: .5em;
 margin: 1em 0em;
}
#profile .profile .name {
 padding-bottom: 0.5em;
}
.block-forum h3 {
 margin-bottom: .5em;
}
div.admin-panel .description {
 color: #999;
}
div.admin-panel .body {
 background: #f4f4f4;
}
div.admin-panel h3 {
 background-color: #69c;
 color: #fff;
 padding: 5px 8px 5px;
 margin: 0;
}
.node img{
  border:1px solid #CCC;
  margin:5px;
}
.poll .bar {
 background:#E7E7E7;
 border:#9C9C9C 1px solid;
}
.poll .bar .foreground{
 background:#CECDCE;
 border-right:#9C9C9C 1px solid;
}
.block-image IMG{
 border:1px solid #CECECE; padding:3px;
}
.block-user .item-list ul li{
 list-style-type:none;
 margin:0;
 margin-top:5px;
}
.block-user .item-list ul{
 padding:0;
}
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

